.form-add-set__figures{

    padding: 10px;
    background-color: #f6f6f6;
    box-sizing: border-box;
}

.form-add-set__figure{
    padding: 10px;
    margin: 10px 0;
    background-color: #e9e9e9;
    box-sizing: border-box;
}


.form-add-set__elements {
    box-sizing: border-box;
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
}

.form-add-set__element {
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: ghostwhite;
}

.form-add-set__element .FormInput{
    display: inline-block;
}


input, select, textarea {
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 1em;

    display: inline-block;
}

/* плавное изменение прозрачности  placeholder-а при фокусе */
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


.input_size_xl {
    width: 100%;

}



.input_size_s {
    width: 20%;
}

.input_size_m {
    width: 25%;
}


.FormInput {
    display: block;
    margin-bottom: 20px;
}

.FormError { color: red}


button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  /*  min-width: 150px; */
}

.btn_remove {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
    background-color: rgba(210, 0, 0, 0.53);
    color: #f6f6f6;
    border: none;
    margin-top: -20px;
    margin-right: -20px;
}

.btn_up {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
    background-color: #67a150;
    color: #f6f6f6;
    border: none;
    margin-top: -20px;
    margin-right: 2px;
}

.btn_down {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
    background-color: cadetblue;
    color: #f6f6f6;
    border: none;
    margin-top: -20px;
    margin-right: 2px;
}



.btn_add {
    background-color: #67a150;
    color: ghostwhite;
    min-width: 100px;

}

.ta-container .FormInput {display: block;}

.description { width: 100%}

.btn_submit {
    width: 40%;
    background-color: darkorange;
    color: white;
}

.form-add-set-container {
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
}