@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    background-image: url("../img/sets-bg.jpg");
    background-size: cover;
}

.filtred {
    opacity: 0.3;
}

.setlist-fig {
    display: inline-block;
    font-size: 0.8em;

}

.list-bars {
    font-size: 0.7em;
}

.margin-right{
    margin-right: 20px!important;
}

.margin-left{
    margin-left: 20px!important;
}


.nopadding {
    padding: 0 !important;;
}

.pad_10 {padding: 8px!important;}

.font-size_m {
    font-size: 0.8em;
}

.text-right {
    text-align: right;
}

.bgcolor_orange_light{
   background-color: #f6f6f6;
}

.bgcolor_orange_mid{
    background-color: rgba(246, 192, 113, 0.18);
}

.border_b {
    border-bottom: solid 1px #e9e9e9;
}

.mainContainer {
    background-color: ghostwhite;
    margin: auto;
    max-width: 1000px;
    min-height: 95vh;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    min-width: 300px;

}

.content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.header-set {
    color: darkgreen;
    padding-left: 20px;
    font-size: 2em;

}

.header-figure{
    color: darkorange;
    padding: 0 0 0 20px;
    font-size: 1.5em;
    margin: 0;

}

.header-element {
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: #636363;
    display: inline-block;
 /*   white-space:nowrap; */
    line-height: 100%;
}

.header{
    width: 100%;
    background-color: #67a150;
    padding:10px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 14px 37px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 37px -21px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 37px -21px rgba(0,0,0,0.75);
    margin-bottom: 40px;
}

.logo{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.list {
    margin: 0;
    padding: 0;
}

.list__item{
    height: auto;
    margin: 0;
    padding:0;
}

.list__link{
    display: block;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.2em;
    color: #777777;
    border-bottom: solid 1px #e9e9e9;
    height: auto;
}


.list__link:hover {
    background-color: rgba(132, 207, 102, 0.29);
}

.list__link:hover .col_m{
    background-color: rgba(132, 207, 102, 0.4);
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items:stretch;
    flex-wrap: nowrap;
}


.col_m {
    padding: 15px 10px;
    background-color: #f6f6f6;
    flex-grow:1;
    text-align: center;
    max-width: 60px;
    margin: auto;
}


.col_l {
    padding: 15px 10px;
    flex-grow:1;
    text-align: center;
    max-width: 100px;
   margin: auto;
}

.col_xm {
    padding: 15px 10px;
    flex-grow:1;
    text-align: center;
    max-width: 180px;
    margin: auto;
}


.col_xl {
    flex-grow:1;
    padding: 15px 10px;
    margin: auto;
}

.col_xxl {
    flex-grow:50;
  /*  padding: 15px 10px; */
    margin: auto;
    flex-basis: 800px;
}

.col_fix_80 {
    flex-basis: 80px!important;
}



.flex-link {

    text-decoration: none;
    font-size: 1.2em;
    color: #777777;
    border-bottom: solid 1px #e9e9e9;
}

.flex-link:hover, .flex-link:hover .col_m{
    background-color: rgba(132, 207, 102, 0.29);
}

.element-description{
    padding-top: 0;
    padding-left: 5%;
    color: grey;
    display: inline-block;
    flex-shrink: 4;
}

.color_cheme_all{
    background-color: #f6f6f6;
}

.color_cheme_tops, .color_cheme_1-top, .color_cheme_2-top, .color_cheme_gents{
    background-color: rgba(164,240,245,0.81);
}

.color_cheme_sides, .color_cheme_1-side, .color_cheme_2-side, .color_cheme_ladies{
    background-color: rgba(175,245,208,0.81);
}

.col_couples {
   min-width: 80px;

}

.col_element {
  /*  min-width: 200px; */
  /*  background-color: rgba(229,236,236,0.81); */
    flex-basis: 30%;
    min-width: 150px;
    padding-top: 0;
    padding-bottom: 0;

}

.col_bars {
    flex-basis: 30px;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
}

.height100{
    height: 100%;
    margin: auto;
}

.video {
    margin-top: 40px;
}

.breadcrumbs__item{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: grey;
}

.breadcrumbs__item:after{
    content: '-';
    color: lightgrey;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 7px;
    height: 20px;
    display: inline-block;
    margin-left: 20px;

}

.breadcrumbs__item:last-child:after{
    display: none;
}

.form-add-set-container {
    margin-top: 40px;
}

.form-add-set {
    padding-left: 20px;
}

.youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


@media (max-width: 800px) {
    .mainContainer{
        margin-top: 0;
        margin-bottom: 0;
    }
}


@media (max-width: 600px) {

    .header-set{
        font-size: 1.8em;
    }

    .col_m, .col_l, .col_xl, .col_xxl{
        padding: 10px 5px;
    }

    .element-description{
        font-size: 0.9em;
        padding-left: 0;
    }

    .col_couples {
        min-width: 70px;
    }
    .col_element {
        min-width: 100px;
    }
    .header-element {
        font-size: 1em;
    }

    .col_xxl{
        flex-basis: 300px;
    }

}


@media (max-width: 450px) {

    .header-set{
        font-size: 1.5em;
    }

    .flex-row{
        flex-wrap: wrap;
    }
    .col_xxl{
      /*  display: inline-block; */
        flex-basis: 150px;
        flex-grow: 1;
        order: 4;
        display: none;
    }

    .flex-row {
        cursor: pointer;
    }

    .flex-row:hover {
       /* background-color: rgba(220,243,235,0.81); */
    }


    .flex-row:hover .col_xxl{
        display: inline-block;
    }

    .flex-row:hover .hfm{
        display: none;
    }

    .col_couples {
        order: 1;
    }

    .col_element {
        order: 2;
    }

    .col_bars {
        order: 3;
    }

}

